[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "3.FundMe/lib/chainlink-brownie-contracts"]
	path = 3.FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "3.FundMe/lib/foundry-devops"]
	path = 3.FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
